<h1>Recipes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <% @recipes.each do |recipe| %>
        <td><%= recipe.name %></td>
        <td><a href="/recipes/<%= recipe.id %>">Show</a></td>
        <td>
          <% if recipe.user == current_user %>
            <a href="/recipes/<%= recipe.id %>/edit">Edit</a>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>

<br>

<a href="/recipes/new">New Recipe</a>
