<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>New Recipe</h1>

<form method="post" action="/recipes">

  <p>
    <label>Name</label></br>
    <input type="text" name="name">
  </p>

  <p>
    <label>Instructions</label></br>
    <textarea rows="4" cols="50" name="instructions"></textarea>
  </p>

  <p>
    <input class="btn btn-primary" type="submit" value="Save Recipe">
  </p>

</form>

<a href="/recipes">Back</a>
