<h1>New Recipe</h1>

<form method="post" action="/recipes">
  <p>Name: </br>
    <input type="text" name="name">
  </p>
  <p>
    <input class="btn btn-primary" type="submit" value="Save Recipe">
  </p>
</form>

<a href="/recipes">Back</a>
